i.material-icons {
  color: #4caf50;
}
.outer-container {
  height: 85vh;
  overflow-y: scroll;
}
.page-footer .footer-copyright {
  background-color: inherit;
}
.container {
  padding-bottom: 3.5rem;
}
h5 > a.textColor:hover {
  color: rgba(0, 0, 0, 0.7)!important;
}
